@import "../styles/variables";
.contact-form{
  display:flex;
  flex-direction: column;
  align-items: center;
  
  .invite{
    text-align: center;
    width: 100%;
    max-width: 320px;
    margin-bottom: 2rem;
  }
  .field-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 320px;
    margin-bottom: 0.5rem;
    .error-message{
      padding: 0rem;
      font-size: 1rem;
      color: #df9696;
      width: 100%;
      max-width: 320px;
    }
    .success-message {

    }
    .label{
      width: 100%;
      max-width: 320px;
      text-align: left;
    }
    .input{
      border: none;
      width: 100%;
      max-width: calc(320px - 0.6rem);
      font-size: 1rem;
      padding: 0 0.3rem ;
      height: 42px;
    }
    .text-area{
      border: none;
      width: 100%;
      max-width: calc(320px - 0.6rem);
      font-size: 1rem;
      padding: 0 0.3rem ;
    }

  }
  .submit-button{
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: center;
    display: block;
    padding: 0.8rem 0.6rem;
    background: white;
    color: $black;
    border: 1px solid $accent;
    text-transform: uppercase;
    transition-property: background-color, color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    width: 100%;
    max-width: 320px;
    &:hover {
      background-color: $yellow;
      color: $darkgrey;
    }
  }
}

