@import "../styles/variables";

.hero{
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.6rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background: transparent;
  background: radial-gradient(circle, transparent 0%, darken($accent3, 10%) 80%);
  .particles {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    animation-name: backgroundColorPalette;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    z-index:-1;
  }
  h1{
    font-weight: normal;
    margin-top: 0;
    @media screen AND (min-width: 769px) {
      margin-top: 1rem;
    }
  }
  &_title {
    font-size: 1.8rem;

    @media screen AND (min-width: 769px) {
      font-size: 2.2rem;
    }
    margin-bottom: 0;

  }
  &_job{
    display:block;
    font-size: 1.2rem;
    margin: 0;
  }
  &_image{
    width: 180px;
    @media screen AND (min-width: 769px) {
      width: 300px;
    }
  }
  &_call-to-action{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &_call-text{
    text-transform: initial;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  &_call-button{
    a{
      padding: 1rem;
      margin-bottom: 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $white;
      color: $black;
      width: 28px;
      height: 28px;
      border-radius: 50%;
      transition-property: background-color, color;
      transition-duration: 0.2s;
      transition-timing-function: ease-in-out;
    }
    &:hover{
      a {
        background: $black;
        color: white;
      }
    }
  }
  &_arrow-down{
    cursor: pointer;
    position: absolute;
    padding: 0.5rem;
    animation-name: arrowBounce;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: normal;
  }
}
@keyframes arrowBounce {
  0% {
    bottom: 50px;
  }
  80% {
    bottom: 50px;
  }
  90% {
    bottom: 45px;
  }
  100%{
    bottom: 50px;
  }
}
@keyframes backgroundColorPalette {
  0% {
    background: #335f67;
  }
  50% {
    background: #028054;
  }
  100% {
    background: #055d6d;
  }
}
