@import "../styles/variables";

.services {
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  background: $white;
  padding: 30px 20px 0;

  h2 {
    margin-top: 0;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
  }

  .anchor{
    position: absolute;
    bottom: 60px;
  }

  .services-text{
    text-align: justify;
    font-size: 1.1rem;
  }
  .grid-container{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
  }
  .grid {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  }


  .service {
    
    width: 100%;
    border: 1px #DDD solid;
    background-color: $cards-background;
    border-radius: 5px;
    font-size: 120%;
    overflow: hidden;
    margin-bottom: 20px;
    transform: translate3d(0px, 0px, 0px);
    box-shadow: 3px 3px 5px darken($lightgrey, 10%);
    transition-property: transform, box-shadow, background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    &:hover{
      transform: translate3d(-5px, -5px, 0px);
      box-shadow: 8px 8px 10px darken($lightgrey, 10%);
      background-color: lighten($cards-background, 80%);
      .service_cover{
        width: 110%;
        margin-left: -5%;
      }
    }
    &_title{
      text-align: center;
      margin-top: 5px;
      text-transform: uppercase;
      font-weight: normal;
      &:after{
        background-color: $pink;
        height: 10px;
        width: 10px;
        margin: 20px auto 0;
        content: '';
        display: block;
      }
    }
    &_cover{
      width: 100%;
      margin-left: 0%;
      height: 140px;
      background-size: cover;
      background-position: center;
      transition-property: width, margin;
      transition-duration: 0.2s;
      transition-timing-function: ease-in-out;
    }
    &_content{
      padding: 20px;
    }
    &_text{
      text-align: justify;
    }
  }
  strong{
    color: darken($pink, 15%);
    font-weight: normal;
  }
  @media screen AND (min-width: 769px) {
    .service{
      width: calc(50% - 20px);
    }
  }
}
