@import "../styles/variables";

.skills{
  position:relative;
  padding: 30px 20px 50PX;
  background: $white;
  color: $darkgrey;
  &:before{
    content:'';
    position:absolute;
    top:-3px;
    left: 25%;
    width: 50%;
    border-top: 3px solid $lightgrey;
  }
  .grid{
    display: grid;
    gap: 1rem 1rem;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .skill{
    text-align: center;
    &:hover{
      .icon{
        font-size: 3rem;
        transform: rotate(720deg);
      }
    }
    header{
      margin: 0 auto;
      width: 40px;
      height:0px;
      background-color: $accent;
    }
    .icon{
      display:flex;
      padding : 2rem;
      border-radius: 50%;
      border: 2px solid $pink;
      background: $accent;
      height: 40px;
      width: 40px;
      align-items: center;
      justify-content: center;
      color: $white;
      margin: 0 auto;
      font-size: 2rem;
      transition-property: "font-size", transform;
      transition-duration: 400ms;
      transition-timing-function: ease-in-out;
      transform: rotate(0deg);
      
    }
    h3{
      text-transform: uppercase;
      text-align: center;
    }
  }
  h2 {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
  }
}
