@import "../styles/variables";

.skills{
  padding: 30px 20px 50PX;
  background: $white;
  color: $darkgrey;
  .skill{
    text-align: center;
    header{
      margin: 0 auto;
      width: 40px;
      height:0px;
      background-color: $accent;
    }
    .icon{
      display:flex;
      padding : 2rem;
      border-radius: 50%;
      border: 2px solid $pink;
      background: $accent;
      height: 40px;
      width: 40px;
      align-items: center;
      justify-content: center;
      color: $white;
      margin: 0 auto;
      font-size: 3rem;
    }
    h3{
      text-transform: uppercase;
      text-align: center;
    }
  }
}
