
@import 'mixins.scss';

/* Lib - Local component imports
/* ---------------------------------------------------------- */
@import "fonts";
@import "variables";
@import "grid";
@import "tables";
@import "actions";
@import "animation";

/* Main - Global styles
/* ---------------------------------------------------------- */

body {
  font-family: $font-serif;
  background: $white;
  transition: background 0.3s ease-out;
  transition-delay: 0.25s;

  top: 0;
  bottom: 0;
  margin:0;

  scroll-behavior: smooth;

  width: 100%;
}
#___gatsby {
  height: 100%;
}
#gatsby-focus-wrapper{
  overflow-y: scroll;
  height: 100%;
}
.img {
  display: block;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  border-radius: 100%;
}

.hidden {
  visibility: hidden;
  position: absolute;
  text-indent: -9999px;
}

.btn {
  &:focus {
    outline: 0;
  }
  text-align: center;
  padding: 0.8rem 0.6rem;
  min-width: 140px;
  background: $white;
  color: $black;
  border: 1px solid $yellow;
  text-transform: uppercase;
  transition-property: background-color, color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
  &.read{
    width: 160px;
  }
  &:hover {
    background-color: $yellow;
    color: $white;
    border: 1px solid $yellow;
  }
  text-decoration: none;
}
.orange{
  color: $yellow;
}

